/*media queries*/
@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}

.text-block {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.image-block {
  width: 100%;
  height: auto;
}
@media (min-width: 600px) {
  body {
    font-size: 16px;
  }

  .text-block {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  .text-block {
    font-size: 20px;
  }
}


/*vanta.fog*/



/*real work*/
.desktop {
  background-color: rgba(255, 255, 255, 1.0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}



.desktop .div {


  width: 1440px;
   height: 10%;
  position: relative;
}

.desktop .overlap {
  position: absolute;
  width: 1202px;
  height: 3205px;
  top: 1762px;
  left: 133px;
}

.desktop .grey-background {
  position: absolute;
  width: 1191px;
  height: 3201px;
  top: 4px;
  left: 11px;
}

.desktop .text-wrapper {
  position: absolute;
  width: 955px;
  top: 3008px;
  left: 147px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 131px;
  top: 2954px;
  left: 94px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p {
  top: 2827px;
  left: 147px;
  position: absolute;
  width: 955px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  top: 2773px;
  left: 94px;
  position: absolute;
  width: 131px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  top: 2646px;
  left: 147px;
  position: absolute;
  width: 955px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  top: 2592px;
  left: 94px;
  position: absolute;
  width: 131px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-6 {
  top: 2456px;
  left: 153px;
  position: absolute;
  width: 955px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  top: 2402px;
  left: 100px;
  position: absolute;
  width: 131px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-8 {
  position: absolute;
  width: 955px;
  top: 2272px;
  left: 152px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-9 {
  top: 2200px;
  left: 100px;
  position: absolute;
  width: 131px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  top: 2134px;
  left: 0;
  position: absolute;
  width: 187px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-11 {
  top: 2027px;
  left: 158px;
  position: absolute;
  width: 955px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-12 {
  top: 1973px;
  left: 105px;
  position: absolute;
  width: 131px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-13 {
  top: 1804px;
  left: 158px;
  position: absolute;
  width: 955px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-14 {
  top: 1750px;
  left: 105px;
  position: absolute;
  width: 131px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-15 {
  top: 1614px;
  left: 158px;
  position: absolute;
  width: 955px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-16 {
  top: 1560px;
  left: 105px;
  position: absolute;
  width: 131px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-17 {
  top: 1379px;
  left: 168px;
  position: absolute;
  width: 955px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-18 {
  top: 1325px;
  left: 115px;
  position: absolute;
  width: 131px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-19 {
  top: 1270px;
  left: 11px;
  position: absolute;
  width: 187px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-20 {
  top: 1101px;
  left: 185px;
  position: absolute;
  width: 955px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-21 {
  top: 1047px;
  left: 132px;
  position: absolute;
  width: 131px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-22 {
  top: 920px;
  left: 185px;
  position: absolute;
  width: 955px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-23 {
  top: 866px;
  left: 132px;
  position: absolute;
  width: 131px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-24 {
  position: absolute;
  width: 955px;
  top: 739px;
  left: 185px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-25 {
  top: 685px;
  left: 132px;
  position: absolute;
  width: 131px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-26 {
  top: 549px;
  left: 191px;
  position: absolute;
  width: 955px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-27 {
  top: 495px;
  left: 138px;
  position: absolute;
  width: 131px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-28 {
  position: absolute;
  width: 955px;
  top: 365px;
  left: 190px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-29 {
  top: 293px;
  left: 138px;
  position: absolute;
  width: 131px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-30 {
  top: 227px;
  left: 38px;
  position: absolute;
  width: 187px;
  font-family: "Nanum Brush Script", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .yellow-log {
  position: absolute;
  width: 1191px;
  height: 203px;
  top: 0;
  left: 11px;
  background-color: #b5a963;
}

.desktop .text-wrapper-31 {
  position: absolute;
  width: 539px;
  top: 19px;
  left: 329px;
  font-family: "Caesar Dressing", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 116px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .seperate-log {
  position: absolute;
  width: 1440px;
  height: 3px;
  top: 1683px;
  left: 0;
  object-fit: cover;
}

.desktop .overlap-group {
  position: absolute;
  width: 1302px;
  height: 164px;
  top: 1440px;
  left: 127px;
}

.desktop .div-2 {
  position: absolute;
  width: 1201px;
  height: 164px;
  top: 0;
  left: 0;
  background-color: #325257;
}

.desktop .image {
  width: 311px;
  height: 158px;
  top: 3px;
  left: 991px;
  position: absolute;
  object-fit: cover;
}

.desktop .covert {
  position: absolute;
  width: 101px;
  height: 164px;
  top: 0;
  left: 1201px;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 100%
  );
}

.desktop .text-wrapper-32 {
  position: absolute;
  width: 567px;
  top: 45px;
  left: 408px;
  font-family: "Joan", Helvetica;
  font-weight: 400;
  color: #f4f4f4;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .div-3 {
  position: absolute;
  width: 181px;
  height: 164px;
  top: 0;
  left: 203px;
  background-color: #05631b;
}

.desktop .text-wrapper-33 {
  position: absolute;
  width: 187px;
  top: 55px;
  left: 203px;
  font-family: "Joan", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .t-rec {
  position: absolute;
  width: 206px;
  height: 164px;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(7, 123, 34, 1) 0%,
    rgba(255, 214, 0, 1) 100%
  );
}

.desktop .text-wrapper-34 {
  position: absolute;
  width: 154px;
  top: 34px;
  left: 26px;
  font-family: "Joan", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 68px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-2 {
  position: absolute;
  width: 1201px;
  height: 176px;
  top: 1256px;
  left: 127px;
}

.desktop .pic-rec-back {
  position: absolute;
  width: 207px;
  height: 164px;
  top: 0;
  left: 994px;
  background-color: #000000;
}

.desktop .image-r {
  width: 215px;
  height: 122px;
  top: 35px;
  left: 984px;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper-35 {
  position: absolute;
  width: 567px;
  top: 40px;
  left: 408px;
  font-family: "Joan", Helvetica;
  font-weight: 400;
  color: #e7e7e7;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-36 {
  position: absolute;
  width: 143px;
  top: 58px;
  left: 224px;
  font-family: "Joan", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .r-rec {
  position: absolute;
  width: 206px;
  height: 164px;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(3, 67, 77, 1) 0%,
    rgba(50, 82, 87, 1) 50%,
    rgba(7, 123, 34, 1) 100%
  );
}

.desktop .overlap-3 {
  position: absolute;
  width: 1257px;
  height: 181px;
  top: 1066px;
  left: 127px;
}

.desktop .bacground-a {
  position: absolute;
  width: 1201px;
  height: 164px;
  top: 6px;
  left: 0;
  background-color: #325257;
}

.desktop .image-a {
  width: 249px;
  height: 169px;
  top: 6px;
  left: 994px;
  position: absolute;
  object-fit: cover;
}

.desktop .coverbottoma {
  position: absolute;
  width: 215px;
  height: 11px;
  top: 170px;
  left: 991px;
  background-color: #084839;
}

.desktop .covera {
  position: absolute;
  width: 56px;
  height: 178px;
  top: 0;
  left: 1201px;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 100%
  );
}

.desktop .text-wrapper-37 {
  position: absolute;
  width: 567px;
  top: 56px;
  left: 408px;
  font-family: "Joan", Helvetica;
  font-weight: 400;
  color: #f4f4f4;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .attaniagble-rec {
  position: absolute;
  width: 181px;
  height: 164px;
  top: 6px;
  left: 203px;
  background-color: #05631b;
}

.desktop .text-wrapper-38 {
  position: absolute;
  width: 175px;
  top: 53px;
  left: 203px;
  font-family: "Joan", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .a-rec {
  position: absolute;
  width: 206px;
  height: 164px;
  top: 6px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(205, 184, 65, 1) 0%,
    rgba(103, 128, 73, 1) 50%,
    rgba(1, 71, 81, 1) 100%
  );
}

.desktop .text-wrapper-39 {
  position: absolute;
  width: 154px;
  top: 29px;
  left: 26px;
  font-family: "Joan", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 68px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-group-2 {
  position: absolute;
  width: 1201px;
  height: 164px;
  top: 889px;
  left: 127px;
  background-color: #325257;
}

.desktop .overlap-4 {
  position: absolute;
  width: 208px;
  height: 164px;
  top: 0;
  left: 993px;
}

.desktop .blackm {
  position: absolute;
  width: 207px;
  height: 164px;
  top: 0;
  left: 1px;
  background-color: #000000;
}

.desktop .download-removebg {
  position: absolute;
  width: 203px;
  height: 126px;
  top: 13px;
  left: 0;
  object-fit: cover;
}

.desktop .text-wrapper-40 {
  position: absolute;
  width: 567px;
  top: 57px;
  left: 408px;
  font-family: "Joan", Helvetica;
  font-weight: 400;
  color: #f4f4f4;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-5 {
  position: absolute;
  width: 386px;
  height: 164px;
  top: 0;
  left: 0;
}

.desktop .text-wrapper-41 {
  position: absolute;
  width: 178px;
  top: 58px;
  left: 208px;
  font-family: "Joan", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .m-rec {
  position: absolute;
  width: 206px;
  height: 164px;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(3, 67, 77, 1) 18%,
    rgba(1, 87, 64, 1) 52%,
    rgba(205, 184, 65, 1) 98%
  );
}

.desktop .overlap-6 {
  position: absolute;
  width: 1308px;
  height: 179px;
  top: 710px;
  left: 127px;
}

.desktop .baclgrounds {
  position: absolute;
  width: 1201px;
  height: 164px;
  top: 4px;
  left: 0;
  background-color: #325257;
}

.desktop .images {
  position: absolute;
  width: 300px;
  height: 168px;
  top: 2px;
  left: 991px;
  object-fit: cover;
}

.desktop .cover {
  position: absolute;
  width: 107px;
  height: 179px;
  top: 0;
  left: 1201px;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 100%
  );
}

.desktop .text-wrapper-42 {
  position: absolute;
  width: 567px;
  top: 49px;
  left: 408px;
  font-family: "Joan", Helvetica;
  font-weight: 400;
  color: #f4f4f4;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .specfic-rec {
  position: absolute;
  width: 181px;
  height: 164px;
  top: 4px;
  left: 203px;
  background-color: #05631b;
}

.desktop .text-wrapper-43 {
  position: absolute;
  width: 143px;
  top: 50px;
  left: 219px;
  font-family: "Joan", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .s-rec {
  position: absolute;
  width: 206px;
  height: 164px;
  top: 4px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 12, 120, 1) 0%,
    rgba(7, 123, 34, 1) 45%,
    rgba(3, 67, 77, 1) 92%
  );
}

.desktop .text-wrapper-44 {
  position: absolute;
  width: 154px;
  top: 26px;
  left: 26px;
  font-family: "Joan", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 68px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .seperate {
  position: absolute;
  width: 1440px;
  height: 2px;
  top: 655px;
  left: 0;
  object-fit: cover;
}

.desktop .down {
  position: absolute;
  width: 59px;
  height: 64px;
  top: 473px;
  left: 691px;
}

.desktop .text-wrapper-45 {
  position: absolute;
  width: 260px;
  top: 323px;
  left: 590px;
  font-family: "Jersey 25", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-46 {
  position: absolute;
  width: 704px;
  top: 199px;
  left: 368px;
  font-family: "JejuHallasan-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 51px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
